{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}
	JustShop
{% endblock %}
{% block content %}

    <h3>
        <!-- <a href="/myapp/hello/{{ item.id }}/"></a> -->
        {% for item in items %}
        <a href="{% url 'myapp:detail' item.id %}">
        ID: {{ item.id }} | Наименование: {{ item.name }} | Цена: {{ item.price }} | Описание: {{ item.description }} <br/>
						<img src="{{ item.image.url}}" alt="pic">
        </a>
        {% endfor %}

    </h3>
		
{% endblock %}