
{% load static %}

<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="justify-between">
            <div class="flex space-x-7">
                <div>
                <a href="{% url 'myapp:index' %}" class="flex items-center py-4 px-2 text-gray-500 hover:text-gray-900 hover:scale-110 transition duration-200">
                <img class="h-8 w-8" src="{% static 'myapp/images/logo.png' %}" alt="logo">
                <span class="text-gay-500 text-xl font-semibold">JustShop</span>
                </a>
                </div>
                    <div class="items-center flex space-x-1">
                        <a href="{% url 'myapp:index' %}" class="py-4 px-2 text-gray-500 font-semibold hover:border-b-4 border-green-500">Home</a>
                        <a href="#" class="py-4 px-2 text-gray-500 font-semibold hover:border-b-4 border-green-500">Cart</a>
                        <a href="#" class="py-4 px-2 text-gray-500 font-semibold hover:border-b-4 border-green-500">About</a>
                        {% if user.is_authenticated %}
                            <form action="{% url 'users:logout' %}" method="post"> 
                                {% csrf_token %} 
                                <button class="py-4 px-2 text-gray-500 font-semibold hover:border-b-4 border-green-500" type="submit">Выйти</button> 
                            </form>
                            <a class="py-4 px-2 text-gray-500 font-semibold hover:border-b-4 border-green-500" href="{% url 'users:profile' %}">Профиль</a>
                            {% else %}
                            <a class="py-4 px-2 text-gray-500 font-semibold hover:border-b-4 border-green-500" href="{% url 'users:login' %}">Войти</a>
                        {% endif %}

                    </div>
            </div>
        </div>
    </div>
</nav>